.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.centered {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  top: 0px;
  width: 400px;
}

mat-grid-list {
  vertical-align: middle;
  padding-bottom: 10px;
  margin-top: -5px;
}

mat-grid-tile {
  position: absolute;
  margin-left: -50px;
}

.bt-red-icon {
  color: red;
}

label.bt-red-icon {
  margin-left: -5px;
}

.big-icon {
  font-size: 48px !important;
  width: 48px;
  height: 48px;
}

a:hover {
    background-color: #C5D9FF;
}