.card {
    max-width: 320px;
    background-color: #C5D9FF;
    margin: 10px 0;
    align-items: center;
    border-radius: 15px;
    position: relative;
    top: 0px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%)
}